<p-toast></p-toast>
<div class="admin-wrapper">
    <!-- <admin-sidebar></admin-sidebar> -->
    <div class="admin-page">
        <p-card
            [header]="editmode ? 'Update Product' : 'Add Product'"
            subheader="You can add edit products here"
        >
            <div class="grid mb-3">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p-toolbar>
                        <div class="p-toolbar-group-start"></div>
                        <div class="p-toolbar-group-end">
                            <p-button
                                [label]="editmode ? 'Update' : 'Create'"
                                icon="pi pi-plus"
                                (click)="onSubmit()"
                                styleClass="p-button-primary mr-4"
                            ></p-button>
                            <p-button
                                styleClass="p-button-secondary"
                                label="Cancel"
                                (click)="onCancel()"
                                icon="pi pi-arrow-circle-left"
                            ></p-button>
                        </div>
                    </p-toolbar>
                </div>
            </div>
            <div class="grid">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]="form">
                        <div class="card">
                            <h5>Vertical and Grid</h5>
                            <div class="formgrid grid">
                                <div class="field col-sm-12">
                                    <label for="name">Name</label>
                                    <input
                                        formControlName="name"
                                        id="name"
                                        type="text"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                        pInputText
                                    />
                                    <small
                                        *ngIf="productForm.name.invalid && isSubmitted"
                                        class="p-error"
                                        >Name is required</small
                                    >
                                </div>
                                <div class="field col-sm-12">
                                    <label for="brand">Brand</label>
                                    <input
                                        formControlName="brand"
                                        id="brand"
                                        type="text"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                    />
                                    <small
                                        *ngIf="productForm.brand.invalid && isSubmitted"
                                        class="p-error"
                                        >Brand is required</small
                                    >
                                </div>
                                <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="price">Price</label>
                                    <p-inputNumber
                                        formControlName="price"
                                        mode="decimal"
                                        inputId="price"
                                        class="w-full"
                                        [useGrouping]="false"
                                        mode="decimal"
                                        [minFractionDigits]="2"
                                        [maxFractionDigits]="2"
                                    >
                                    </p-inputNumber>
                                    <small
                                        *ngIf="productForm.price.invalid && isSubmitted"
                                        class="p-error"
                                        >Price is required</small
                                    >
                                </div>
                            </div>
                            <div class="formgrid grid">
                                <div class="field col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <label for="countInStock">CountInStock</label>
                                    <p-inputNumber
                                        formControlName="countInStock"
                                        mode="decimal"
                                        class="w-full"
                                        inputId="countInStock"
                                        [useGrouping]="false"
                                    >
                                    </p-inputNumber>
                                    <small
                                        *ngIf="productForm.countInStock.invalid && isSubmitted"
                                        class="p-error"
                                        >CountInStock is required</small
                                    >
                                </div>
                                <div class="field col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <label for="category">Category</label><br />
                                    <p-dropdown
                                        formControlName="category"
                                        [options]="categories"
                                        optionLabel="name"
                                        optionValue="id"
                                        [filter]="true"
                                        filterBy="name"
                                        [showClear]="true"
                                        placeholder="Select a Category"
                                    ></p-dropdown>
                                    <small
                                        *ngIf="productForm.countInStock.invalid && isSubmitted"
                                        class="p-error"
                                        >Category is required</small
                                    >
                                </div>
                                <div class="field col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <label for="isFeatured">IsFeatured</label><br />
                                    <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                                </div>
                                <div class="field col-12">
                                    <label for="description">Description</label>
                                    <textarea
                                        rows="7"
                                        cols="30"
                                        pInputTextarea
                                        formControlName="description"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                    ></textarea>
                                    <small
                                        *ngIf="productForm.description.invalid && isSubmitted"
                                        class="p-error"
                                        >Description is required</small
                                    >
                                </div>
                                <div class="field col-12">
                                    <label for="richDescription">Product Details</label>
                                    <p-editor
                                        formControlName="richDescription"
                                        [style]="{ height: '320px' }"
                                    ></p-editor>
                                    <small
                                        *ngIf="productForm.richDescription.invalid && isSubmitted"
                                        class="p-error"
                                        >Product Details is required</small
                                    >
                                </div>
                                <div class="field col-12">
                                    <label for="name">Main Image</label>
                                    <input
                                        type="file"
                                        accept="image/*"
                                        class="p-inputtext-lg w-full"
                                        (change)="onImageUpload($event)"
                                    />
                                    <small
                                        *ngIf="productForm.image.invalid && isSubmitted"
                                        class="p-error"
                                        >Image is required</small
                                    >
                                    <div class="field col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-3 pl-0">
                                        <img style="width: 100%" [src]="imageDisplay" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p-card>
    </div>
</div>
