<header>
    <div class="grid">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-3  col-xl-3">
            <div class="logo">
                <img src="assets/images/logo.png" alt="" />
            </div>
        </div>
        <div class="col-md-12  col-sm-12 col-xs-12 col-lg-4 col-xl-4 search">
            <!-- <ngshop-products-search></ngshop-products-search> -->
        </div>
        <div class="col-md-12  col-sm-12 col-xs-12 col-lg-3 col-xl-3  navigation">
            <ngshop-nav></ngshop-nav>
        </div>
        <div class="col-md-12  col-sm-12 col-xs-12 col-lg-2 col-xl-2 tools">
            <!-- <i class="pi pi-user p-text-secondary" style="font-size: 2rem"></i>      -->
            <p-avatar
                icon="pi pi-user"
                pBadge
                size="large"
                styleClass="mr-2"
                [style]="{ 'background-color': '#ffffff' }"
                routerLink="/login"
            ></p-avatar>
            <orders-cart-icon></orders-cart-icon>
        </div>
    </div>
</header>
