<header>
    <div class="grid">
        <div class="col-md-3 col-sm-3">
            <div class="logo">
                <img src="../../../assets/images/logo.png" alt="" />
            </div>
        </div>
        <div class="col-md-2  col-sm-2 search">
            <ngshop-products-search></ngshop-products-search>
        </div>
        <div class="col-md-3  col-sm-3 offset-1 navigation">
            <ngshop-nav></ngshop-nav>
        </div>
        <div class="col-md-2  col-sm-2 tools">
            <!-- <i class="pi pi-user p-text-secondary" style="font-size: 2rem"></i>      -->
            <p-avatar
                icon="pi pi-user"
                pBadge
                size="large"
                styleClass="mr-2"
                [style]="{ 'background-color': '#ffffff' }"
            ></p-avatar>
            <orders-cart-icon></orders-cart-icon>
        </div>
    </div>
</header>
