footer {
    //background-color: var(--cyan-100);
    background-color: var(--surface-900);
    min-height: 100px;
    padding: 10px 25px;
    width: 100%;
    margin-top: 25px;
    color: white;
    

    .footer-wrapper {
        align-items: center;
        margin-top: 25px;
        // position: static;
        // margin-bottom: 0;

        .social {
            margin-top: 20px;
            text-align: right;
            color: var(--surface-0);

            .nav {
                &-link {
                    color: var(--surface-0);
                }
                justify-content: flex-end;
            }
        }
    }
}
