.nav {
    li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
        
        a {
            color: var(--surface-100);
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }
}
