.nav {
    li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;

        a {
            color: var(--surface-700);
            cursor: pointer;
            font-size: 16px;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
