//bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

//base
@import '~normalize.css/normalize.css';
@import '../styles/base/colors.scss';
@import '../styles/base/fonts.scss';
@import '../styles/base/mixins.scss';

//libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';
@import '../styles/base/configuration.scss';

//pages
@import '../styles/apps/shop/pages/home-page.scss';
@import '../styles/apps/shop/pages/product-list-page.scss';

//shared
@import '../styles/apps/shop/shared/header.scss';
@import '../styles/apps/shop/shared/footer.scss';
@import '../styles/apps/shop/shared/nav.scss';

//Libs
@import './libs/products/products.scss';
@import './libs/products/products-search.scss';
@import './libs/orders/orders.scss';
@import './libs/users/users.scss';
@import './libs/ui/ui.scss';

.container {
    width: 2000px;
    padding: 10px;
    margin: 0 auto;
    background-color: var(--surface-100);
}
